*{
   margin: 0;
   padding: 0;
}

body{
   background-image: url(img1.jpg);
   background-position: center;
   background-size: cover;
   font-family: sans-serif;
   background-repeat: no-repeat;
   height: 100vh;
   width: 100%;
}

.container{
   background-color: rgba(0, 0, 0, 0.51);
   color: white;
   height: 430px;
   width: 320px;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   box-sizing: border-box;
   border-radius: 12px;
   padding: 80px 35px;
}

.avatar{
   height: 100px;
   width: 100px;
   position: absolute;
   border-radius: 50%;
   top: -50px;
   left: calc(50% - 50px);
}

h1{
   margin: 0;
   padding: 0 0 30px;
   text-align: center;
   font-size: 35px;
   font-weight: bold;
   color: rgb(255, 85, 0);
}

.container p{
   margin: 0 0 10px;
   padding: 0px;
   font-size: 18px;
   font-weight: bold;
   color: white;
}

.container input{
   width: 100%;
   margin-bottom: 25px;
}

.form input[type="text"], input[type="password"]{
   height: 25px;
   background-color: transparent;
   color: white;
   font-weight: ;
   outline: none;
   border: none;
   border-bottom: 1px solid rgb(255, 191, 0);
}

.form input[type="text"]:hover, input[type="password"]:hover{
   color: white;
   font-size: 15px;
}

.btn{
   background-color: orangered;
   color: black;
   padding: 6px 0;
   border-radius: 15px;
   border: none;
}

.btn:hover{
   background-color: rgb(253, 204, 9);
   color: rgb(254, 6, 47);
   cursor: pointer;
}

.form a{
   color: darkgray;
   text-decoration: none;
   line-height: 25px;
}

.form a:hover{
   color: rgb(241, 60, 60);
}